In [14]:
import pandas as pd
from config import LENDING_CLUB_ACCEPTED
from utils import generate_data_dictionary

# SR 11-7 Model Validation Automation

## Part 1 - Model Overview

### Dataset: Lending Club Loan Data

In [ ]:
lca_df = pd.read_csv(LENDING_CLUB_ACCEPTED, low_memory=False)

lca_data_dict = generate_data_dictionary(lca_df, 5)
lca_data_dict.head(10)

,Column Name,Data Type,Missing Values,Unique Values,Sample Value
id,id,object,0,2260701,68407277
member_id,member_id,float64,2260701,0,NaN
loan_amnt,loan_amnt,float64,33,1572,3600.0
funded_amnt,funded_amnt,float64,33,1572,3600.0
funded_amnt_inv,funded_amnt_inv,float64,33,10057,3600.0
term,term,object,33,2,36 months
int_rate,int_rate,float64,33,673,13.99
installment,installment,float64,33,93301,123.03
grade,grade,object,33,7,C
sub_grade,sub_grade,object,33,35,C4